@{
    ViewBag.Title = "Tietoja";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<p>Tässä on toteutettu Google Maps apia hyödyntäen yksinkertainen lomareitin suunnittelutyökalu.
    Kartalle voi lisätä erityyppisiä kohteita. Kohteista voi muodostaa reittejä.</p>

<h3>Ohjeet:</h3>
<p>Uusi kohde lisätään kartalle klikkaamalla karttaa. Avautuvaan lomakkeeseen täydennetään tiedot ja painetaan tallenna.</p>
<p>Kartan alapuolella on hallintatyökaluja. Voi näyttää tietyntyyppiset paikat kartalla ja reitit (kiertueet).
    Kiertueeseen lisätään uusi etappi klikkaamalla kohdetta (kohde tulee valituksi) ja lisäämällä sen etapiksi valittuna olevaan kiertueeseen.</p>

<h3>Kehitysideoita:</h3>
<p>Reitin voisi navigoida teitä pitkin. Käyttäjät voisi kirjautua järjestelmään ja käyttäjätieto jäisi kohteisiin ja kiertueisiin. Kaikkia muita lisätietoja voisi lisätä.</p>
<p>Ulkoasua voisi parannella ja käyttöliittymän voisi tehdä helpommaksi käyttää.</p>
<p>Fronttipuolella pitää vielä toteuttaa listojen päivitys, kun uutta tavaraa lisätään. Nyt joutuu lataamaan sivun uudestan muutamissa tilanteissa.</p>
