@{
    ViewBag.Title = "Yhteystiedot";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>@ViewBag.Message</h3>-->

<address>
    Joni Taipale<br />
    Wildman Games Oy<br />
    Lappeenranta
</address>

<address>
    <a href="mailto:joni.taipale@outlook.com">joni.taipale@outlook.com</a><br />
    <a href="https://github.com/joni-t/">GitHub</a>
</address>